#footer{
    font-family: 'Ubuntu Condensed', sans-serif;
    background: black;
    margin-top: 50px;
    height: 190px;
    weight:0 auto;
    color: white;
    float: bottom;
}
#aboutUs{
    float: left;
    margin-top: 48px;
    margin-left: 15%;
}

#socialNetworks{
    float:left;
    margin-left:15%;
    margin-top: 20px;
    list-style-type: none;
}


.social-link{
    weight:40px;
    height: 40px;
}

.nameSocNetwork {
    float:right;
    color: white;
    width: 100px;
    margin-left: 10px;
    margin-top: 10px;
}
@media  screen and (max-width: 808px) {
    #footer{
        height: 360px;
        weight:0 auto;

    }
    #aboutUs{
        float: left;
        margin-top: 48px;
        margin-left: 15%;
    }
    #socialNetworks{
        margin-top: 23px;
        float:left;
        margin-left: 20%;
        list-style-type: none;
    }
}
@media  screen and (max-width: 330px) {
    #footer{
        height: 500px;
    }
}