body{
    font-family: Arial,sans-serif;
    background: #fafafa;
    padding: 0;
    margin: 0;
}
header{
    position: fixed;
    top:0px;
    left: 0px;
    width: 1366px;
    height: 72px;
}
.heading{
    background: white;
}
.container{
    width:72%;
    height: 60px;
    margin: 0 auto;
}
.line{
    float:left;
    margin-top: 5px;
    margin-left: 10px;
}
.title h1{
    font-family: Tahoma,sans-serif;
    font-weight: bold;
    font-size: 28px;
    text-transform: uppercase;
    float:left;
    margin-top: 15px;
}
.logo{
    float:left;
    margin-top: 1px;
}
.arrow{
    margin-top: 25px;
    width: 15px;
    height: 15px;
    float:right;
}
.profile{
    margin-top: 10px;
    margin-right: 5px;
    float:right;
}
.nicknameHeader{
    float:right;
    margin-right: 6px;
    margin-top: 2px;
}
.firstPost{
    border: 1px solid #b3b3b3;
    background: white;
    max-width: 44%;
    max-height: 830px;
    margin-top: 120px;
    margin-left: 190px;
}
.post{
    border: 1px solid #b3b3b3;
    background: white;
    max-width: 44%;
    max-height: 830px;
    margin-top: 50px;
    margin-left: 190px;
}
.round{
    float:left;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    margin-top: 0px;
    margin-left: 10px;
}
.headPost{
    height: 60px;
}
.nicknamePost{
    float:left;
    margin-left: 5px;
}
.nicknamePost{
    font-size: 15px;
    font-weight: 600;
}
.datePhoto{
    float:left;
    font-size: 12px;
    margin-left: 5px;
    margin-top: 3px;
}
.blockNameDate{
    margin-left: 60px;
    margin-top: 10px;
    width:180px;
    height: 40px;
}
.delete{
    margin-right: 10px;
    margin-top: 0px;
    float: right;
    width: 40px;
    height: 40px;
}
.edit{
    margin-top: 2px;
    float: right;
    width: 35px;
    height: 35px;
}
.text{
    width: 100%;
    max-height: 90px;
    margin: 0px 10px 10px 10px;
}
.photoPlace{
    max-height: 100%;
    margin-bottom: 0px;
}
.photo{
    max-width: 100%;
    max-height: 100%;
}

.filtering{
    position: absolute;
    left: 800px;
    float: right;
    margin-right: 19%;
    margin-top: 0px;
    width: 18%;
    height: 20%;

}
.textFilter{
    font-size: 18px;
    color: dimgrey;
}
.line-divider{
    width: 100%;
    height: 2px;
}
textarea{
    width: 100%;
    resize: none;
}
.postAndFilter{
    width: 100%;
    height: 830px;
    border: 1px solid red;
}
.likeAndHashtags{
}
.like{
    margin-left: 1%;
}
.lineLikeAndHashtags{
    height: 50px;
    width: 5px;
}
.hashtagInPost{
    float:right;
    width:470px;
    margin-top: 15px;
    margin-right: 45px;
}
.footer{
    background: black;
    margin-top: 50px;
    height: 180px;
    color: white;
}
.menu{
    float: left;
    margin-top: 48px;
    margin-left: 180px;
}
.whiteVerticalLine{
    height: 184px;
}
.socialNetworks{
    margin-top: 23px;
    float:right;
    margin-right: 310px;
    list-style-type: none;
}
.google{
    weight:40px;
    height: 40px;
}
.vk{
    weight:40px;
    height: 40px;
}
.instagram{
    weight:40px;
    height: 40px;
}

.nameSocNetwork {
    float:right;
    color: white;
    width: 100px;
    margin-left: 10px;
    margin-top: 10px;
}
.titleReference{
    color: black;
}
