body{
    font-family: Arial,sans-serif;
    background: #fafafa;
    padding: 0;
    margin: 0;
}
header{
    position: fixed;
    top:0px;
    left: 0px;
    width: 100% ;
    height: 72px;
}
main{
    min-height: 320px;
}
#heading{
    background: white;
    border-bottom: 1px black;
}
#container{
    width:72%;
    height: 60px;
    margin: 0 auto;
}
.line{
    float:left;
    margin-top: 5px;
    margin-left: 10px;
}
#arrow{
    margin-top: 25px;
    width: 15px;
    height: 15px;
    float:right;
}
.title h1                                               {
    font-family: Tahoma,sans-serif;
    font-weight: bold;
    font-size: 28px;
    text-transform: uppercase;
    float:left;
    margin-top: 15px;
    margin-left: 7px;
    color: black;
}

#logo{
    float:left;
    margin-top: 1px;
    padding-right: 7px;
}
.arrow-icon{
    margin-top: 25px;
    width: 15px;
    height: 15px;
    float:right;
}
#profile{
    margin-top: 10px;
    margin-right: 5px;
    float:right;
}
#nicknameHeader{
    float:right;
    margin-right: 6px;
    margin-top: 2px;
}
main{
    margin-top:122px;
}
.post{
    border: 1px solid #b3b3b3;
    background: white;
    width: 600px;
    max-height: 830px;
    margin-top: 50px;
    margin-left: 15%;
}
.roundAvatar{
    float:left;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    margin-top: 0px;
    margin-left: 10px;
}
.headPost{
    height: 60px;
}
.nicknamePost{
    float:left;
    width: 100%;
    margin-left: 5px;
    font-size: 16px;
    font-weight: 600;
    margin-top: 1px;
}
.datePhoto{
    float:left;
    font-size: 14px;
    margin-left: 5px;
    margin-top: 3px;
}
.blockNameDate{
    margin-left: 60px;
    margin-top: 10px;
    width:180px;
    height: 40px;
}
button{
    background: white;
    margin-right: 0px;
    margin-top: 0px;
    float: right;
    width: 7%;
    height: 7%;
    border: 1px white;
}
.deletePost{
    width: 100%;
    height: 100%;
}
.editPost{
    width: 90%;
    height: 90%;
}

.text{
    width: 100%;
    max-height: 90px;
    margin: 0px 10px 10px 10px;
}
.photoPlace{
    max-height: 800px;
    margin-bottom: 0px;
}
.photo{
    max-width: 100%;
    max-height: 100%;
}

textarea{
    width: 100%;
    resize: none;
}
.likeAndHashtags{
    height: 50px;
}
.like{
    float: left;
    weight:90%;
    height: 90%;
    margin-left: 1%;
}
.lineLikeAndHashtags
{
    float: left;
    margin-left: 5px;
    height: 50px;
    width: 5px;
}
.hashtagInPost{
    float: left;
    margin-top: 15px;
    margin-left: 1%;
}
#footer{
    background: black;
    margin-top: 50px;
    height: 180px;
    weight:0 auto;
    color: white;
    float: bottom;
}
#aboutUs{
    float: left;
    margin-top: 48px;
    margin-left: 15%;
}

#socialNetworks{
    float:left;
    margin-left:15%;
    margin-top: 20px;
    list-style-type: none;
}


.google{
    weight:40px;
    height: 40px;
}
.vk{
    weight:40px;
    height: 40px;
}
.instagram{
    weight:40px;
    height: 40px;
}

.nameSocNetwork {
    float:right;
    color: white;
    width: 100px;
    margin-left: 10px;
    margin-top: 10px;
}
#filtering{
    position: fixed;
    left:850px;
    float: left;
    margin-top: 0px;
    width: 200px;
    height: 20%;
}
.filterMargins{
    margin-top: 3px;
    padding-top:10px;
    padding-bottom: 10px;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
}
.authorInput{
    width: 100%;
}
.hashtagInput{
    width: 100%;
}
#buttonSearch{
    width: 110px;
    background: slategrey;
    display: block;
    margin: 10px auto auto auto;
    padding: 5px;
    text-align: center;
    border: 1px sandybrown;
    text-decoration: none;
    border-radius:70px;
    color: black;
}
.textFilter{
    font-size: 18px;
    color: dimgrey;
}
.line-divider{
    width: 100%;
    height: 2px;
}
#buttonDownload{
    width: 110px;
    background: slategrey;
    display: block;
    margin: 50px;
    margin-left: 35%;
    padding: 10px;
    border: 1px sandybrown;
    text-decoration: none;
    border-radius:70px;
    color: black;
}
@media screen and (min-width: 1367px) {
    #filtering {
        left:950px;
    }
    #buttonDownload{
        margin-left: 38%;
    }
}
@media screen and (max-width: 1070px) {
    #filtering{
        position: fixed;
        left: 800px;

    }
    #buttonDownload{
        margin-left: 40%;
    }
}
@media  screen and (max-width: 1000px) {
    #filtering {
        left: 760px;
    }

}
@media  screen and (max-width: 950px) {
    #filtering{
        position: static;
        margin:auto;
        float: none;
        width: 300px;
    }


    .post{
        margin-left: auto;
        margin-right: auto;
    }
    .likeAndHashtags{
        height:50px;
    }
    .buttonDownload{
        margin-left: 43%;

}
@media  screen and (max-width: 808px) {
    #footer{
        height: 360px;
        weight:0 auto;

    }
    #aboutUs{
        float: left;
        margin-top: 48px;
        margin-left: 15%;
    }
    #socialNetworks{
        margin-top: 23px;
        float:left;
        margin-left: 20%;
        list-style-type: none;
    }
    .likeAndHashtags{
        height:50px;
    }
}
@media  screen and (max-width: 630px) {
    .post{
        width: 90%;
        margin-left: 5%;
    }
}
@media  screen and (max-width: 530px) {
    header{
        height: 72px;
    }
    #container{
        width:95%;
        height: 60px;
        margin: 0 auto;
    }
    .line{
        float:left;
        margin-top: 5px;
        margin-left: 10px;
    }
    .title h1{
       font-size: 18px;
        margin-top: 20px;
    }
    #logo{
        float:left;
        margin-top: 13px;
        weight:35px;
        height: 35px;
        border-bottom: 1px solid red;

    }
    .arrow-icon{
        margin-top: 25px;
        width: 8px;
        height: 8px;
        float:right;
    }
    #profile{
        margin-top: 15px;
        margin-right: 3px;
        weight:35px;
        height: 35px;
        float:right;
    }
    #nicknameHeader{
        float:right;
        margin-right: 3px;
        margin-top: 10px;
        font-size: 12px;
    }
    #filtering{
        margin:auto;
    }
}
}
@media  screen and (max-width: 330px) {
    header {
        height: 40px;
    }
    #container {
        width: 100%;
        height: 40px;;
    }

    .line {
        float: left;
        margin-top: 5px;
        margin-left: 3px;
        height: 35px;
    }

    .title h1 {
        font-size: 0px;
    }

    #logo {
        margin-top: 10px;
        weight: 25px;
        height: 25px;

    }

    .arrow-icon {
        margin-top: 22px;
        width: 5px;
        height: 5px;;
    }

    #profile {
        margin-top: 10px;
        margin-right: 3px;
        weight: 25px;
        height: 25px;
        float: right;
    }

    #nicknameHeader {
        float: right;
        margin-right: 3px;
        margin-top: 5px;
        font-size: 10px;
    }

    #footer {
        height: 400px;
    }

    .hashtagInPost {
        float: left;
        font-size: 3vw;
        margin-top: 15px;
        margin-left: 1%;
    }
}